.DS_Store
.class
*.log
.history

target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

*.sublime-project
*.sublime-workspace
sublime.sbt
.sublime

.idea/*
.idea_modules/*

.scala_dependencies
.project
.classpath
.cache
.settings

